.home-slider {
    margin-top: -46px;
}

/* Slick Slider */
.slick-active {
    z-index: 1;
}

.slide-content {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: auto;
}

.slide-title {
    font-weight: normal;
    font-style: normal;
}

.slick-arrow {
    z-index: 99;
}

/* Slick Slider - Controllers */
.slick-prev {
    bottom: 25px;
    left: 1em;
}

.slick-next {
    bottom: 25px;
    right: 1em;
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    list-style: none;
    padding: 0;
    text-align: center;
}

.slick-dots li  {
    position: relative;
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}

.slick-dots button {
    text-indent: -99999px;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
}

.slick-dots button:focus::before,
.slick-dots button:active::before,
.slick-dots button:hover::before,
.slick-dots .slick-active button::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
}

/*Tablet md */
@media screen and (min-width: 992px) {
    .slide-content {
        background: rgba(0, 0, 0, 0.2);
    }
    /* Slick Slider - Controllers */
    .slick-prev {
        top: 50%;
        bottom: auto;
        left: 1em;
    }

    .slick-next {
        top: 50%;
        bottom: auto;
        right: 1em;
    }
}

/* Desktop xl */
@media screen and (min-width: 992px) {
    .home-slider {
        margin-left: 90px;
        margin-top: 0;
    }
    .slick-dots {
        bottom: 20px;
    }
}

/* Desktop xl */
@media screen and (min-width: 1200px) {
    /* Slick Slider - Controllers */
    .slick-prev {
        top: 50%;
        left: 3em;
    }

    .slick-next {
        top: 50%;
        right: 3em;
    }
}