.menu-item {
  opacity: 0;
  transform: scale(1.15) translateX(-21px);
  transition: all .3s ease-in-out;
}

.drawer_open .menu-item {
  transform: scale(1) translateX(0px);
  opacity: 1;
}

.drawer_open .menu-item:nth-child(1) {
  transition-delay: 0.2s;
}
.drawer_open .menu-item:nth-child(2) {
  transition-delay: 0.4s;
}
.drawer_open .menu-item:nth-child(3) {
  transition-delay: 0.6s;
}
.drawer_open .menu-item:nth-child(4) {
  transition-delay: 0.8s;
}
.drawer_open .menu-item:nth-child(5) {
  transition-delay: 1s;
}
