.drawer {
  top: 0;
  bottom: 0;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100vw);
  padding-bottom: env(safe-area-inset-bottom);
}

.drawer_open .drawer {
  transform: translateX(0);
}

/* Desktop */
@media screen and (min-width: 992px) {
  .drawer {
    width: 600px!important;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-510px);
    z-index: 100;
  }
  .drawer-toggle {
    top: 40px;
    right: -33px;
    z-index: 120;
  }
}
