.drawer {
	position: fixed;
  height: 100vh;
  width: 600px;
  background: #fff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-510px);
  z-index: 100;
  padding: 50px 90px;
}

.drawer_open .drawer {
	transform: translateX(0);
}
