.header {
  padding: 1.2em 1em;
  z-index: 110;
}
.brand {
  font-size: 1.1em;
}

.header-toggle {
  top: 1.45em;
  right: 1em;
  z-index: 120;
}

/* Desktop */
@media screen and (min-width: 992px) {
  .brand {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    bottom: 7.5rem;
    left: -2.7rem;
    font-size: 1.313em;
  }
}
