@charset "UTF-8";
/* CSS Document */

body {
	background: #F2F2F2;
	margin: 0;
	padding: 0;
	border: 0;
}

.pagina  {
	margin: 0;
	padding: 0;
	border: 0;
}

.pagina img {
	width: 100%;
}

.menu {
	position: fixed;
	float: left;
	left: 0px;
	z-index: 200;
}

.menu::before {
	content: '';
	width: 84px;
	height: 100vh;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -999;
}

.logo {
	position: fixed;
	bottom: 40px;
	left: 32px;
}

.burger {
	position: fixed;
	top: 40px;
	left: 48px;
	
}