.footer {
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 0.938em;
  line-height: 1.5em;

  opacity: 0;
  -moz-transform: scale(1.05) translateX(-10px);
        -o-transform: scale(1.05) translateX(-10px);
      -ms-transform: scale(1.05) translateX(-10px);
    -webkit-transform: scale(1.05) translateX(-10px);
  transform: scale(1.05) translateX(-10px);
  transition: all .3s ease-in-out;
}

.drawer_open .footer {
  opacity: 1;
          -moz-transform: scale(1) translateX(0px);
        -o-transform: scale(1) translateX(0px);
      -ms-transform: scale(1) translateX(0px);
    -webkit-transform: scale(1) translateX(0px);
  transform: scale(1) translateX(0px);
  transition-delay: 1.02s;
}
.footer p {
  display: inline;
}

.footer a {
  text-decoration: none;
  color: #161616;
}

.footer-presentation {
  position: relative;
}

.footer-presentation::after {
  content: '';
  display: block;
  width: 15%;
  height: 1px;
  background: #dfdcdc;
  position: absolute;
  bottom: 16px;
  right: 0;
}

.footer-presentation strong {
  display: block;
  font-size: 1.200em;
  margin-bottom: 10px;
}

/* Desktop */
@media screen and (min-width: 992px) {
  .footer {
    bottom: 0;
    right: 0;
    left: auto;
  }
  .footer p {
    display: block;
  }
}
